<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <ul>
            {% for element in pingObject %}
                <li>{{ echo element }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
