<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Ping Pong Test!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ping Pong Test</h1>
            <p>Enter a number:</p>
            <form action = "/create_ping_pong" method ="post">
                <div class='form-group'>
                    <label for='limit'>Limit:</label>
                    <input name='limit' id='limit' class='form-control' type='number'>
                </div>
                <button type='submit' class='btn-succes'>GO!!!</button>
            </form>
        </div>
    </body>
</html>
